In [7]:
df_csvfile = './workdir/aloi/hmax_df.pickle'

In [8]:
import pickle

In [9]:
df = pickle.load(open( df_csvfile, "rb" ))

In [10]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>category</th>
      <th>exemplar</th>
      <th>ri_pattern</th>
      <th>intact_pattern</th>
      <th>ri_typicality</th>
      <th>intact_typicality</th>
      <th>conserved_typicality</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>798</td>
      <td>r225</td>
      <td>[0.4624589128697541, 0.5676057256788559, 0.566...</td>
      <td>[0.7798654038796009, 0.8531508057833821, 0.861...</td>
      <td>6.997132</td>
      <td>6.927355</td>
      <td>6.836960</td>
    </tr>
    <tr>
      <th>1</th>
      <td>77</td>
      <td>r225</td>
      <td>[0.4384783079807329, 0.4760773614256729, 0.518...</td>
      <td>[0.8060298510002559, 0.857301095365741, 0.8963...</td>
      <td>6.999730</td>
      <td>6.931086</td>
      <td>6.721486</td>
    </tr>
    <tr>
      <th>2</th>
      <td>925</td>
      <td>r180</td>
      <td>[0.4494446489665954, 0.5280466942372747, 0.557...</td>
      <td>[0.7437337707542392, 0.8013314013573001, 0.829...</td>
      <td>6.999832</td>
      <td>6.976707</td>
      <td>6.847303</td>
    </tr>
    <tr>
      <th>3</th>
      <td>62</td>
      <td>r90</td>
      <td>[0.415666102437596, 0.5131738643359652, 0.5485...</td>
      <td>[0.7498946843798088, 0.8139965558590907, 0.850...</td>
      <td>6.999207</td>
      <td>6.959101</td>
      <td>6.894468</td>
    </tr>
    <tr>
      <th>4</th>
      <td>291</td>
      <td>r90</td>
      <td>[0.4867658386831864, 0.5586230933992825, 0.595...</td>
      <td>[0.7297043489848755, 0.7805313261995606, 0.790...</td>
      <td>6.999870</td>
      <td>6.987722</td>
      <td>6.921342</td>
    </tr>
  </tbody>
</table>
</div>